* {
    margin: 5px;
}


h1 {
    color: #c8c8cf;
    background-color: darkslateblue;
    text-align: center;
    padding: 10px;
}

img {
    height: auto;
    width: 500px;
  }

.link {
    margin-top: 10px;
    margin-bottom: 10px;
}